'.source.pyj':
  'editor':
    'foldEndPattern': '^\\s*"""\\s*$'
    'commentStart': '# '
    'increaseIndentPattern': '^\\s*(class|def|elif|else|except|finally|for|if|try|with|while)\\b.*:\\s*$|\\b\\s+(=)\\s+(def)\\b.*:\\s*$|\\b(:)\\s+(def)\\b.*:\\s*$'
    'decreaseIndentPattern': '^\\s*(elif|else|except|finally)\\b.*:'
